body {
    background-color: blue;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
}
.container {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 20%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;

}

.input {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.result-container {
    width: 50%;
    height: 100%;
    border-radius: 0px 80px 80px 0px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#result {
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    
}

.dollar {
    display: flex;
}

label {
    padding-right: 5px;
}
